<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-10">

                        <div class="pull-right">
                            {% if app.user %}
                                <h4>Zalogowany jako <b>{{ app.user }}</b> | {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('admin')}}">Panel admina</a> | {% endif %}<a href="{{ path('homepage')}}">Strona główna</a> | <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></h4>
                            {% else %}
                                <h4><a href="{{ path('homepage')}}">Strona główna</a> | <a href="{{ path('fos_user_security_login')}}">Zaloguj się</a></h4>    
                            {% endif %}
                                  
                        </div>

                    </div>
                <div class="col-md-1"></div>
            </div>
        
            <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-10">

                        {% block body %}{% endblock %}
                    </div>
                <div class="col-md-1"></div>
            </div>
            <br>
                    
            <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-10">
                      
                       <p class="text-center">&copy; Symfony blog 2016.</p>
                      
                    </div>
                <div class="col-md-1"></div>
            </div>        
            <br>        
        </div> <!-- /container -->
           
        
        
        
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
