{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Symfony 2</h1>
        <p>Witam wszystkich sympatyków programowania w php na moim blogu</p>
        <hr>
    </div>
    <br>
    {% for post in posts %}
        
            <h2><a href="{{ path('show_post', {'id': post.id}) }}">{{ post.title }}</a></h2>
        
        <h3> {{ post.lead }} </h3>
        
        <hr>
        <h4 class="text-danger">Dodano: {{ post.createdat|date("H:i m/d/Y")}}
            {% if post.comments|length == 1 %}
                    <p class="pull-right">{{post.comments|length}} komentarz&nbsp;&nbsp;</p>
                {% elseif post.comments|length > 1 and post.comments|length < 5 %}
                    <p class="pull-right">{{post.comments|length}} komentarze</p>
                {% else %}
                    <p class="pull-right">{{post.comments|length}} komentarzy</p>
            {% endif %}
        </h4>
        <br>
        
    {% endfor %}
    
    <div class="text-center">
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
    
{% endblock %}


