{% extends 'base.html.twig' %}

{% block head %} 

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">

                    <h2><b>Symfony 2</b></h2>
                    <br>
                    <h4 class="text-muted">Witam wszystkich sympatyków programowania w php na moim blogu</h4>
                    <hr>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
    </div>
    
{% endblock %}

{% block body %}
    
    {% for post in posts %}
        
            <h3><a href="{{ path('show_post', {'id': post.id}) }}">{{ post.title }}</a></h3>
        
        <h4> {{ post.lead }} </h4>
        
        <hr>
        <h5 class="text-danger">Dodano: {{ post.createdat|date("H:i m/d/Y")}}
            {% if post.comments|length == 1 %}
                    <p class="pull-right">{{post.comments|length}} komentarz&nbsp;&nbsp;</p>
                {% elseif post.comments|length > 1 and post.comments|length < 5 %}
                    <p class="pull-right">{{post.comments|length}} komentarze</p>
                {% else %}
                    <p class="pull-right">{{post.comments|length}} komentarzy</p>
            {% endif %}
        </h5>
        <br>
        
    {% endfor %}
    
    <div class="text-center">
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
    
{% endblock %}

{% block footer %}
   <footer class="footer">
        <p class="text-center">&copy; Symfony blog 2016.</p>
      </footer>
{% endblock %}