{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="jumbotron">
        <h1>Symfony 2</h1>
        <p>Witam wszystkich sympatyków programowania w php na moim blogu</p>
        <hr>
    </div>
    <br>
    
        <h1 class="text-info"> {{ post.title }} </h1>
     
    <div>
        
        <h4> {{ post.content }} </h4>
        <h4 class="text-danger text-right">Dodano: {{ post.createdat|date("H:i m/d/Y") }}</h4>
        <hr>
        
        
        {% if app.user %}
            
            <div class="container-fluid">
                <h3>Komentarze</h3>
                    {{ form_start(form) }}

                        {{ form_widget(form) }}

                        <button class="btn btn-primary pull-right">Dodaj komentarz</button>

                    {{ form_end(form) }}
            </div>
            
            
        {% else %}
            <div>
                <h4>Komentarze mogą dodawać tylko zalogowani użytkownicy. <a href="{{ path('fos_user_security_login')}}">Zaloguj się</a></h4>
                <br>
            </div>
        {% endif %}
        
        {% for comment in post.comments %}
        
            <div>
                <h4 class="text-danger">Dodano: {{ comment.createdat|date("H:i m/d/Y")}} {% if comment.user %} przez: {{ comment.user }} {% endif %}</h4>
                <h4><b>{{ comment.content}}</b></h4> 
                <hr>
            </div>
            
        {% endfor %}
    
    </div>
   
    
{% endblock %}


