{% extends 'base.html.twig' %}

{% block head %} 

    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">

                    <h2><b>Symfony 2</b></h2>
                    <br>
                    <h4 class="text-muted">Witam wszystkich sympatyków programowania w php na moim blogu</h4>
                    <hr>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
    </div>
                
{% endblock %}

{% block body %}
    
    <div class="row">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
    </div>
    
    <div class="row">
        <h3><b>{{ post.title }}<b></h3>
        
        <blockquote><h4>{{ post.content }}</h4></blockquote>
        <h5 class="text-danger text-right">Dodano: {{ post.createdat|date("H:i m/d/Y") }}</h5>
        <hr>
    </div>
    
    <div class="row">
        {% if app.user %}
            <h3>Twój komentarz:</h3>
          
                
                    {{ form_start(form) }}

                        {{ form_widget(form) }}

                        <button class="btn btn-primary pull-right">Dodaj komentarz</button>

                    {{ form_end(form) }}
          
            
            
        {% else %}
            <div>
                <h4>Komentarze mogą dodawać tylko zalogowani użytkownicy. Kliknij 
                    <a href="{{ path('fos_user_security_login')}}">tutaj</a>
                        żeby się zalogować. Jeśli nie masz jeszcze konta 
                        <a href="{{ path('fos_user_registration_register')}}">zarejestruj się.</a></h4>
                <br>
            </div>
        {% endif %}
        
    </div>
        
    <div class="row">
        <h3>Ostatnie komentarze:</h3>
        <hr>
        {% for comment in post.comments %}
        
            <div>
                <blockquote><h5 class="text-danger">Dodano: {{ comment.createdat|date("H:i m/d/Y")}} {% if comment.user %} przez: {{ comment.user }} {% endif %}</h5>
                <h5><b>{{ comment.content}}</b></h5></blockquote> 
                
            </div>
                
            
        {% endfor %}
        <hr>
    </div>
   
    
{% endblock %}

{% block footer %}
   <footer class="footer">
        <p class="text-center text-muted">&copy; Symfony blog 2016.</p>
      </footer>
{% endblock %}
