{% extends 'base.html.twig' %}

{% block body %}
    
        <h1> {{ post.title }} </h1>
     
    <div>
        
        <p> {{ post.content }} </p>
        <p>Dodano: {{ post.createdat|date("H:i m/d/Y") }}</p>
        <hr>
        <h3>Komentarze</h3>
        
        {% if app.user %}
        
            {{ form_start(form) }}

                {{ form_widget(form) }}

                <button class="btn btn-primary pull-right">Dodaj komentarz</button>

            {{ form_end(form) }}
            
        {% else %}
            
            <p>Komentarze mogą dodawać tylko zalogowani użytkownicy. <a href="{{ path('fos_user_security_login')}}">Zaloguj się</a></p>
            
        {% endif %}
        
        {% for comment in post.comments %}
        
            <div>
                <p><b>{{ comment.content}}</b></p>
                <p>Dodano: {{ comment.createdat|date("H:i m/d/Y")}} {% if comment.user %} przez: {{ comment.user }} {% endif %}</p>
                <hr>
            </div>
            
        {% endfor %}
    
    </div>
   
    
{% endblock %}


